<% game.board.grid.reverse.each_with_index do |row, row_idx| %>
  <% row.each_with_index do |tile,col_idx| %>
    <% css = (col_idx + row_idx).odd? ? "grey" : "white" %>
      <% (color = tile.color == :white ? 'white' : 'black') unless tile.nil?%>
      <article class="<%= css %> tile" data-row-id='<%= 7 - row_idx %>' data-col-id='<%= col_idx %>'>
      <% if tile %>
       <div class="piece <%= color %>" data-color="<%= tile.color %>"> 
        <%= tile.to_s %>
        </div>
      <% end %>
      </article>
  <% end %>
<% end %>