<div class="game group">
  <% if @player2 == current_player%>
    <h3 class="player-name">You are <div class="player-color-info player-black"></div></h3>
  <% else %>
    <h3 class="player-name"><%= @player2.email %></h3>
  <% end %>
  <section id="board-container" 
    class="group" 
    data-game-id="<%= @game.id %>" 
    data-is-observer="<%= !!@observer %>"
    data-player-color="<%= @game.player_2_id == current_player.id ? 'black' : 'white' %>">
    <%= render partial: 'games/board', locals: { game: @game, turn: @turn, errors: @errors } %>
  </section>
  <footer>
  <% if @player1 == current_player%>
    <h3 class="player-name">You are <div class="player-color-info"></div></h3>
  <% else %>
    <h3 class="player-name"><%= @player1.email %></h3>
  <% end %>
  </footer>
</div>
<script src="http://js.pusher.com/2.2/pusher.min.js"></script>
<script>

  $(document).ready(function() {
  var fromRow;
  var toRow;
  var fromCol;
  var toCol;
  var $piece;
  var $fromTile;
  var color;
  var $prevTile;
  var playerColor = $("#board-container").attr("data-player-color");
  var game_id = $("#board-container").attr("data-game-id");

  function rebind() {
  color = $(".board").attr("data-current-turn");
  if (color === playerColor) {
  $(".piece." + color).draggable({})
  $(".piece." + color).addClass("moveable-piece")
  $( ".tile" ).droppable({
    hoverClass: "move-tile",
    accept: '.piece',
    greedy: true,
    drop: function( event, ui ) {
      $(".errors").empty();
      var $tar = $(event.target)

      toRow = $tar.attr('data-row-id')
      toCol = $tar.attr('data-col-id')

      $fromTile.html('');
      $tar.html($piece);
      $piece.removeAttr("style");
      $piece.draggable();
      $.ajax({
        url: '/games/' + game_id,
        type: 'PATCH',
        data: { 'from': [fromRow, fromCol], 
        'to': [toRow, toCol], 
        'color': $piece.attr('data-color'),
        'turn': color },
        success: function(data) {
          // $("#board-container").html(data);
          rebind();

        }
      })
    }
  });

  $("#board-container").on("mousedown", ".piece." + color, function(event) {
    $piece = $(event.currentTarget);
    $fromTile = $(event.currentTarget).closest("article");
    fromRow = $fromTile.attr('data-row-id');
    fromCol = $fromTile.attr('data-col-id');
  });

  }
  }

  if ($("#board-is-container").attr("data-observer") == "false") {
    rebind();
  }

  Pusher.log = function(message) {
    console.log(message);
  };

  var pusher = new Pusher("<%= ENV['PUSHER_KEY'] %>");

  var channel = pusher.subscribe("opp-move");

  channel.bind("move", function (data) {
      $("#board-container").html(data);
      rebind();
  });
  });
</script>